# Ignore  macOS .DS_Store files
.DS_Store

# Ignore backup files
*~

# Ignore vscode individual settings
.vscode/

# Ignore egg-info files and folders
*.egg-info/
*.pyc

# Ignore pyenv version files
.python-version

# Ignore build and dist folders
build/
dist/

# Ignore __pycache__ folder
__pycache__/

# Ignore Python virtualenv folder
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
